/* Input Styles
/*---------------------------------------------*/
input,
textarea,
select {
    padding: 5px;
    font: 400 1em Verdana, Sans-serif;
    color: #666;
    background: #fff;
    border: 1px solid #999999;
    margin: 0 0 1em 0;
}

input:focus,
textarea:focus,
select:focus {
    color: #000;
    background: #fff;
    border: 1px solid #666666;
}

/* Main Styles
/*---------------------------------------------*/
body {
    font: 14px/1.8em 'Open Sans', Helvetica, Arial, Helvetica, sans-serif;
    color: #444;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

a, a:visited {
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a:hover, a:active {
    color: #000;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    line-height: 1.2em;
    margin-bottom: 0.6em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
    margin-top: 2em;
}

p, table {
    margin-bottom: 1em;
}

ol, ul {
    padding-left: 30px;
    margin-bottom: 1em;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

abbr, acronym {
    cursor: help;
    border-bottom: 0.1em dotted;
}

td, td img {
    vertical-align: top;
}

td, th {
    border: solid 1px #999;
    padding: 0.25em 0.5em;
}

th {
    font-weight: bold;
    text-align: center;
    background: #eee;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

code {
    font-family: Courier, "Courier New", Monaco, Tahoma;
    background: #eee;
    color: #333;
    padding: 0px 2px;
}

pre {
    background: #eee;
    padding: 20px;
    margin-bottom: 1em;
    overflow: auto;
}

blockquote {
    font-style: italic;
    margin: 0 0 1em 15px;
    padding-left: 10px;
    border-left: 5px solid #dddddd;
}

img {
    border:1px solid #555555;
}



.post {
    margin:5px;
    background:#f5f5f5;
    padding:10px;
}
.post:hover {
    background:#f0f0f0;
}

.tag {
    margin:2px;
    background:#ccc;
    padding:5px;
    width:auto;
    float:left;
}
.tag:hover {
    background:#ddd;
}



#footer {
    background: #707070;
    padding: 60px 0;
    margin-top: 80px;
    color: #C0C0C0;
}
#footer .inner {
    width:80%;
    margin:0 auto;
}
#footer a { color: #ddd; }
#footer a:hover { color: #fff; }


/*
* Google Custom Search Engine
*/
.gsc-input, .gsc-search-button {
    border:none;
}
.gsc-search-button {
    padding-top:20px;
}
input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
  -webkit-box-shadow: none;
  -moz-box-sizing: content-box;
  box-shadow: none;
}


input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
  box-sizing: content-box;
  line-height: normal;
}
