<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if meta.description %}<meta name="description" content="{{ meta.description|striptags }}">{% endif %}
    {% if meta.robots %}<meta name="robots" content="{{ meta.robots }}">{% endif %}

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ theme_url }}/itdb.css" type="text/css" />
    <script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#itdb-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/itdb/index">
                    itdb
                </a>
            </div>

            <div class="collapse navbar-collapse" id="itdb-navbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown {% if current_page.id == "category" %} active{% endif %}">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">tags <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/itdb/til/ad">ad</a></li>
                            <li><a href="/itdb/til/apache">apache</a></li>
                            <li><a href="/itdb/til/exchange">exchange</a></li>
                            <li><a href="/itdb/til/linux">linux</a></li>
                            <li><a href="/itdb/til/mysql">mysql</a></li>
                            <li><a href="/itdb/til/network">network</a></li>
                            <li><a href="/itdb/til/office">office</a></li>
                            <li><a href="/itdb/til/php">php</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {% if current_page.id == "tools" %} active{% endif %}">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">tools <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/itdb/tools#binary-converter">binary converter</a></li>
                            <li><a href="/itdb/tools#hex-dec-converter">hex-dec converter</a></li>
                            <li><a href="/itdb/tools#base64-converter">base64 converter</a></li>
                            <li><a href="/itdb/tools#leetspeak-converter">leetspeak converter</a></li>
                            <li class="divider"></li>
                            <li><a href="/itdb/tools#hasher">Hash generator</a></li>
                            <li><a href="/itdb/tools#htpasswd">htpasswd generator</a></li>
                        </ul>
                    </li>
                    <li{% if current_page.id == "gitlab" %} class="active"{% endif %}>
                        <a href="/itdb/gitlab">gitlab</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- /.nav -->

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{ content }}
            </div>
        </div>
    </div>
    <!-- /.container -->


    <footer id="footer">
        <div class="inner">
            <p>&copy; IT-DB.com 2011 - {{ 'now'|date('Y') }}</p>
            <p>Powered by <a href="http://picocms.org/">PicoCMS</a></p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>
